<!DOCTYPE html>
<html lang="en">
<head>
     <!-- we are storing all the css in static folder so we need to load the folder also we modified some settings (staticfiledirs)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- login.html -->
    <!--changed the href path to static folders css-->
<link rel="stylesheet" type="text/css" href="login.css ">

</head>
<body>
    <div class="login-container">

        <div class="logo"><img src="logo.png"></div>

        <div class="login">
            <h3 id ='heading'><b>Login</b> </h3>
            <form method="post" action="{% url 'login' %}" class="form">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="messages">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label>email</label>
                    <input type="text" class="form-control" placeholder="enter email " name="email" />
                </div>
                <div class="form-group">
                    <label>password</label>
                    <input type="password" class="form-control" placeholder="Your Password " name="password" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btnSubmit">login</button>
                </div>
                <div class="form-group">
                    Not registered?
                    <a href="{% url 'register' %}" class="register">register</a>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>