.card {
  left: 45%;

  width: 60vw;
}
.title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  display: inline-table;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

.small-desc {
  font-size: 1em;
}

.corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 5em;
  height: 2em;
  overflow: hidden;
  top: 0.5em;
  right: 0;
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.go-back a {
  text-decoration: none;
  color: #3b8b10;
  font-size: 1em;
  font-weight: 350;
}

.go-back a:hover {
  transition: all 0.4s;
  text-decoration: none;
  font-size: 1.2em;
}
button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 3px solid #3b8b10;
  border-radius: 45px;
  transition: all 0.4s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
  font-family: "Arial", "Helvetica", "sans-serif";
}
button:hover {
  color: black;
  font-size: 1.2em;
}
.todo-buttons {
  scale: 0.5;
}
