body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; /* Replace with your desired background color */
}

.left-panel img {
  border-radius: 10%;
  max-width: 100%;
  height: auto;
  max-height: 80%;
  transition: all 2s;
}

.left-panel img:hover {
  scale: 1.1;
  border-radius: 0px;
}
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px ridge black;
  background-color: #fff; /* Replace with your desired background color */
}

.right-panel h2 {
  font-size: 25px;
  margin-bottom: 25px;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

h2 {
  font-size: 3rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.right-panel .messages {
  text-align: center;
  width: 30%;
  color: #111;
  font-size: large;
  margin-top: 10px;
}
.right-panel input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
}
.right-panel input:hover {
  background-color: #f5f5f5;
  border: 2px solid black;
  scale: 1.1;
  margin: 5px;
}

.right-panel input[type="submit"] {
  background-color: #141516; /* Replace with your desired button color */
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
}

.right-panel input[type="submit"]:hover {
  background-color: #00b31e;
  font-size: 20px;
  width: 80%;
  margin-left: 15%;
  border: none;
}

.right-panel p {
  margin-top: 10px;
  font-size: 14px;
}

.right-panel p a {
  text-decoration: none;
  color: #007bff;
  transition: all 0.3s;
}

.right-panel p a:hover {
  text-decoration: underline;
  font-size: 20px;
}
