<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome to signup page!</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="generateUserIdButton">Generate User ID</button>
        <button type="submit">signup</button>
       
    </form>
    <script>
    document.getElementById('generateUserIdButton').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'http://127.0.0.1:8000/accounts/generate_unique_userid/', true);

    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
            var response = JSON.parse(xhr.responseText);
            document.getElementById('id_userid').value = response.formatted_userid;
        }
    };

    xhr.send();
});
 </script>

</body>
</html>