<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <center>
        <h1>Farmers Assistance System</h1>
        <br>
        <br>
        <form name="login_form">

            <h3>login</h3>
            <table border="1">
                <tr>
                    <td>USERID: </td>
                    <td> <input type="text"name="userid"> </td>
                </tr>
                <tr>
                    <td> PASSWORD</td>
                    <td> <input type="password"name="passwd"> </td>
                </tr> 
                <tr>
                    <td>USER TYPE</td>
                    <td><input type="text",name='usertype'>
                    </td>
                </tr>
            </table>
            <br>

            <a href='http://127.0.0.1:8000/home'><input type="button" value="submit"></a>
            <a href='http://127.0.0.1:8000/accounts/signup/'><input type="button" value="signup"></a>       
        
        </form>
    
    </center>
    

</body>
</html>
