<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
 
    {% block style %} {% endblock %}


    <title>home</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'tasks' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".to-do-list").innerHTML = xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'inventory-list' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".inventory-list").innerHTML =
              xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>
  </head>
  <body>
    <header>
      <nav role="navigation" class="primary-navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li>
            <a href="#">Work &dtrif;</a>
            <ul class="dropdown">
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Illustration</a></li>
              <li><a href="#">Iconography</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="dashboard">
        </div>
        <div class="grid-item ">
          {% include 'dashboard/partials/add_product.html' %}
        </div>
        <div class="grid-item ">
          {% include 'dashboard/partials/field.html' %}
        </div>
        <div class="grid-item ">
          {% include 'dashboard/partials/graph.html' %}
        </div>
        <div class="grid-item ">{% include 'todo/tasks_list.html' %}</div>
      </div>
    </main>
  </body>
</html>
