<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/externallink.css' %}">
</head>
<body>
    <div class="main">

        <div class="dash">
        
        <header>
            <div class="topnav">
                
                
                <div class="topnav-right">
                  
                  <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
              </div>
              
        </header>
    </div>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                JoGeek
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="//github.io/jo_geek" target="_blank">Github</a>
              <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
              <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
              <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
              <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
            </div>
          </div>
          <div class="content">
        

        <div class="content1">
            <u> <h1>External Links</h1></u>
            
            <h2>Important websites</h2>

            <table>
                <thead>
                  <tr>
                    <th>Institution</th>
                    <th>Websites</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Department of Agriculture</td>
                    <td><a href="https://www.agriculture.gov">www.agriculture.gov</a></td>
                  </tr>
                  <tr>
                    <td>International Rice Research Institute</td>
                    <td><a href="https://www.irri.org">www.irri.org</a></td>
                  </tr>

                  <tr>
                    <td>Directorate of Rice Research (DRR)
                        Rajendra Nagar Andhra Pradesh
                        Phone No:040 2459 1217.
                        Project Director
                        Email:pdrice[at]drricar[dot]org
                        Fax No: +91-40-24591217

                    </td>
                    <td><a href="http://www.drricar.org/">http://www.drricar.org/</a></td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                        Philippine Rice Research Institute
Pan-Philippine Highway, Science City of Muñoz, Philippines
Phone:+63 44 456 0285
                    </td>
                    <td><a href="http://www.philrice.gov.ph/">http://www.philrice.gov.ph/</a></td>
                  </tr>
                  <tr>
                    <td>
                        
Institute	Website
Directorate of Rice Research (DRR)
Rajendra Nagar Andhra Pradesh
Phone No:040 2459 1217.
Project Director
Email:pdrice[at]drricar[dot]org
Fax No: +91-40-24591217	http://www.drricar.org/
Philippine Rice Research Institute
Pan-Philippine Highway, Science City of Muñoz, Philippines
Phone:+63 44 456 0285	http://www.philrice.gov.ph/
Tamil Nadu Rice Research Institute
Thanjavur District
Tamil Nadu, India
Telephone: 0435-2472098(Off.)
Fax: 0435-2472881
Email:dirtrri [at]tnau[dot]ac[dot]in
                    </td>
                    <td><a href="http://www.tnau.ac.in/">http://www.tnau.ac.in/</a></td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                        Central Rice Research Institute
Cuttack (Orissa) 753 006, India
Phone: +91-671-2367757;
PABX: +91-671-2367768-783
Fax: +91-671-2367663
Email: directorcrri[at]sify[dot]com | crrictc[at]nic[dot]in
                    </td>
                    <td><a href="http://www.crri.nic.in/">http://www.crri.nic.in/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Bangladesh Rice Research Institute,
Director General Bangladesh Rice Research Institute Gazipur 1701,Bangladesh
Phone: (880-2) 9252736; 9257401-05.
Fax: (880-2) 9261110
                        
                    </td>
                    <td><a href="http://www.brri.gov.bd/">http://www.brri.gov.bd/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Hybrid Rice Research Network India
Directorate of Rice Research, Rajendranagar,
Hyderabad - 500 030
Fax: 040-4015308
EPABX Phone No: 4015036-39, 4013109, 4013111-12;

                    </td>
                    <td><a href="http://www.hybridriceindia.org/">http://www.hybridriceindia.org/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Australian Centre for International Agricultural Research (ACIAR)
38 Thynne Street, Fern Hill Park BRUCE ACT
Phone: 61 2 6217 0500
Fax: 61 2 6217 0501
ABN: 34 864 955427

                    </td>
                    <td><a href="http://aciar.gov.au/">http://aciar.gov.au/</a></td>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>PHI Seeds Private Limited Babukhan Millenium Centre
III Floor, 6-3-1099/1100
Rajbhavan Road,Somajiguda Phone No: 91 - 40 - 30434400 Hyderabad - 500 082 Andhra Pradesh

                    </td>
                    <td>
                        <a href="http://www.pioneer.com/india">http://www.pioneer.com/india</a></td>
                    </td>
                  </tr>

                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            
            
        </div>
    </div>

   
    <div class="disease">

      <u><h1>Rice:Diseases</h1></u>
      gfffrfguynmttyuuuuuuuuuuiiiii
      <img src="{% static 'dashboard/images/disease-and-pest-rice-blast.jpg' %}" alt=" disease image">
      <h2>Rice blast</h2>
      <p>
        Developing and using blast-resistant varieties is the most practical and economical approach to control blast. However, its use has not been completely successful due to the presence of lineages (that may consist of different physiologic races) overcoming host resistance.

For the rice plant to effectively combat blast, scientists at IRRI are combining into the same rice type different race-specific genes and genes conferring quantitative resistance. Another method is by deploying resistant genes in mixed plant populations. Recent studies showed that the use of rice line mix is an effective tool in blast management.

IRRI scientists introduced the practice of interplanting glutinous rice varieties with blast-resistant hybrid varieties in Yunnan province, China. Blast caused great yield loss on traditional glutinous rice varieties and farmers were spraying fungicides for up to seven times. Interplanting prevents the fungus from continuously building inoculum that had previously occurred in the monoculture fields of the glutinous varieties.

Although many resistant varieties have already been bred, the breakdown of blast resistance causes yield instability in several rice-growing areas in the world. Of the various strategies tried, enhancing host-plant resistance is considered one of the important approaches to tackle this disease. Pyramiding of two or more effective resistance genes/alleles into elite rice lines enhances the durability and spectrum of resistance.


      </p>
      <h3>About blast</h3>
      <p>Rice blast (Pyricularia grisea) is a fungus that feeds on the rice plant, causing severe damage usually during the seedling stage. It attacks different parts of the plant: the collar, which can ultimately kill the entire leaf blade; the stem, which turns blackish and breaks easily (node blast); the neck of the panicle, where the infected part is girdled by a grayish brown lesion, or when severe, causes the panicles to fall over; or on the branches of the panicles which exhibit brown lesions when infected.

        Blast is highly destructive in lowland rice in temperate and subtropical Asia, and upland rice in tropical Asia, Latin America and Africa. Blast is found in approximately 85 countries throughout the world. Its first known occurrence was as early as 1637 in China where the disease was known as rice fever disease.
        
        Blast is considered a major disease of rice because of its wide distribution and extent of destruction under favorable conditions. Although blast is capable of causing very severe losses of up to 100%, little information exists on the extent and intensity of actual losses in farmers' fields. Losses of 5-10%, 8%,and 14% were recorded in India (1960-1961), Korea (mid-1970s), and in China (1980-1981), respectively. In the Philippines, yield losses ranging from 50-85% were reported.</p>


        <img src="{% static 'dashboard/images/disease-and-pest-bacterial-blight2.jpg' %}" alt="image">

        <h2>Bacterial blight</h2>
        <p>
          Breeders and pathologists work together to screen breeding materials that carry resistance to bacterial blight. Breeders grow and carry out crop management of all screening field trials while pathologists inoculate and evaluate resistance of the breeding lines.

Many bacterial blight-resistant genes have been identified through IRRI’s breeding programs and are currently available for use in developing or improving popular commercial varieties. The availability of molecular markers for these genes, which help breeders improve the accuracy and speed of developing new varieties, has made improving resistance to bacterial blight more efficient.

Breeders have identified over 30 bacterial blight resistance genes, named from Xa1 to Xa33. At present, 14 strains of the bacterial blight pathogen representing 10 races have been characterized in the Philippines alone. Six Xa genes have been tagged with molecular markers and used to help identify new resistant lines, resulting in the release of resistant varieties in several countries.

Indonesia, the Philippines, India, and China have released bacterial blight-resistant varieties for commercial production and are advancing breeding work to improve resistance further. National agricultural extension partners exhange elite lines within and between countries. Multi-location trials of different lines has been conducted in Indonesia, the Philippines, and Punjab in Eastern India.

Currently yield losses caused by bacterial blight are typically around 1% or less, as resistant varieties have been deployed in the main rice-producing zones of Asia such as NSIC Rc142 and NSIC Rc154 in the Philippines. These varieties or their derivatives are well accepted by farmers and consumers, and are expected to cover conservatively 0.8 million hectare in four countries.

The variety PSB Rc82 has been deployed widely and is still conferring resistance to the predominant races in the Philippines. Assuming that bacterial blight epidemic occurs in 10% of the time over the production area, the yield gain is estimated to be 0.8 million metric tons of paddy rice per cropping season in India, Indonesia, the Philippines, and China. This translates into a gain of about US$20.5 million per cropping season.

Macassane, a new IRRI-bred rice variety released in Mozambique in 2011, also has improved resistance to baterial leaf blight, which causes yield losses across the country.

        </p>
        <h3>About bacterial blight</h3>
        <p>Bacterial blight is caused by Xanthomonas oryzaepv. oryzae (Xoo) and affects the rice plant at the seedling stage where infected leaves turn grayish green and roll up. As the disease progresses, leaves turn yellow to straw-colored and wilt, leading whole seedlings to dry up and die. The disease occurs in both tropical and temperate environments, particularly in irrigated and rainfed lowland areas. It is commonly observed when strong winds and continuous heavy rains occur. The disease is severe in susceptible rice varieties that are treated with high nitrogen fertilizer.

          Bacterial blight is one of the most destructive rice diseases in Asia and has historically been associated with major epidemics. It occurs in China, Korea, India, Indonesia, the Philippines, Sri Lanka, Myanmar, Laos, Taiwan, Thailand, and Vietnam. The disease also occurs in Northern Australia and Africa.
          
          In the late 70s, epidemics due to bacterial blight were reported in India. The advent of rice varieties bearing genes with resistance to the disease has changed the perception about the disease: the incorporation of host-plant resistance genes in rice varieties, their adoption and deployment in the world’s main rice-producing environments is probably one of the most significant evidences of the role of plant pathology in agricultural development.
          
          Bacterial blight nevertheless remains an important concern and many countries will not endorse the release of new rice varieties unless they carry resistance to the disease. Whenever susceptible rice varieties are grown in environments that favor bacterial blight, very high yield losses, as much as over 70%, may be caused by bacterial blight. It is particularly serious in hybrid rice, and therefore, active breeding in national and commercial breeding programs have developed and released some hyrbids that have resistance to the disease.
          
          </p>
          <img src="{% static 'dashboard/images/disease-and-pest-sheath-blight2.jpg' %}" alt="image">
          <h2>Sheath blight</h2>
          <p>experiments showed that no variety had a reliable level of resistance to the fungal disease. Tests of related wild species have identified a limited number of potential donors which may provide useful genetic material to improve host plant resistance to sheath blight.

Resistance to the sheath blight pathogen exists, but is partial only, with possibly two forms: traits that confer some level of partial physiological resistance, and traits that confer a morphology of the rice plant such that the disease does not spread easily in a growing rice crop. Much work remains to be done to distinguish and quantify the contribution of both kinds of genetic traits, and their degree of possible combination – yet, success in this should lead to high-yielding, sheath blight-unfavorable and partially resistant rice crops.

          </p>
          <h3>
            About sheath blight
          </h3>
          <p>Sheath blight is a fungal disease caused by Rhizoctonia solani. Symptoms are usually observed from tillering to milk stage in a rice crop. It occurs throughout the rice growing areas in temperate, subtropical, and tropical countries. Rice sheath blight is found in all rice production areas, and is decreasing rice production especially in intensified production systems. Studies at IRRI showed that sheath blight causes a yield loss of 6% across lowland rice fields in tropical Asia.

          </p>

    </div>

    </div>
    
</body>
</html>