{% load static %}
{% block style %} 
<link href="{% static 'dashboard/css/cultivation_list.css' %}" rel="stylesheet">
{% endblock %}

<div class='cultivation-list'>
    
    <a class="goback" href="{% url 'dashboard' %}">go back</a>

    <h1 class="h1">Cultivation History </h1>


    <table  class="center">   
    <tr>
        <th>items</th>
        <th> <i>cultivation day </i></th>
        <th>action</th>
    </tr>
    {% for items in cultivationData %}
        <tr>
            <td align="center"> <br><b> <ul>{{ items.product }}</ul></b></td>  
            <td align="center">{{ items.start_date }}</td>

            <td align="center"> <pre><a href="{% url 'cultivation-detail'  items.id %}"><button class="btn" > view</button> </a>         <a href="{% url 'cultivation-update'  items.id %}"><button class="btn">update</button></a>
            </pre></td>


        </tr>
    {% empty %}
    <h3> no records found!!</h3>
    {% endfor %}
    </table>
</div>




