{% load static %}
<link
  rel="stylesheet"
  href="{% static 'dashboard/css/currentCultivation.css' %}"
  class="css"
/>

    {% if currentCultivation %} {% for val in currentCultivation %}
    <table>
      <thead>
        <tr>
          <th>product</th>
          <th>start date</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ val.product }}</td>
          <td>{{ val.start_date }}</td>
          <td>{{ val.status }}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %} {% else %}
    <p>no data</p>

    {% endif %}


