{% load static %} {% block style %}
<link
  href="{% static 'dashboard/css/full_inventory_list.css' %}"
  rel="stylesheet"
/>
{% endblock %}

<div class="inventory-list">
  <a class="goback" href="{% url 'dashboard' %}">go back</a>
  <h1>Full list of Products in your Inventory</h1>

  <table>
    <tr>
      <th>Items</th>
      <th><i>Quantity </i></th>
      <th>Action</th>
    </tr>
    {% for items in InventoryList %}
    <tr>
      <td align="center">
        <br /><b>
          <ul>
            {{ items.product }}
          </ul></b
        >
      </td>
      <td align="center"><a href="{{ items.images.url }}"></a></td>
      <td align="center">{{ items.quantity }}</td>
      <td align="center">
        <pre><a href="{% url 'inventory-detail'  items.id %}"><button class="btn" >view</button> </a>     <a href="{% url 'inventory-item-update'  items.id %}"><button class="btn" > update</button> </a>    <a href="{% url 'inventory-item-delete'  items.id %}"><button class="btn">delete</button></a></pre>
      </td>
    </tr>
    {% empty %}
    <h3>no records found!!</h3>
    {% endfor %}
  </table>
</div>
