myenv/*
.env
dashboard/__pycache__
dashboard/migrations/__pycache__
FarmMate/__pycache__
manage_account/__pycache__
manage_account/migrations/__pycache__
todo/__pycache__
todo/migrations/__pycache__






