.currentCultivation,
.cultivationHistory {
  background: linear-gradient(#ffffff,#ffffff) padding-box,
          linear-gradient(145deg, transparent 35%,#3bbe59, #043608) border-box;
border: 3px solid transparent;
background-color: #ffffff;
  max-width:600px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3%;
  border-radius: 10px;
  transition: all 1s;
}
.currentCultivation:hover,
.cultivationHistory:hover {
  border: 2px solid black;
  background: white;
  color: black;
  scale: 1.05;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add margin at the top of the tables */
}
@keyframes emphasis {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
tr:hover {
  color: rgb(16, 16, 129);
  margin: 0px 30px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

h1 {
  text-align: center;
  padding: 20px 0;
}
h3 {
  transition: all;
  text-align: center;
}
h3:hover {
  color: blue;
  animation: emphasis;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.popup .overlay{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .popup-content{
  position:relative;
  transform:translate(-50%,-50%) scale(0);
  background: #fff;
  width:max-content;
  padding:10px;
  z-index:2;
  border-radius: 10px;
}

.popup .close-btn{
  cursor: pointer;
  position:relative;
  float: right;

}

.popup.active .overlay{
  display:block;
}

.popup.active .content{
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);

}


.show-more  {
  position: relative;
  margin: 10px;
  font-size: 1rem;
  transition: all 1s;
}

.cultivationHistory > .show-more:hover, 
 #new-button:hover{
  background-color:green;
  border-radius:20px;
  
}