{% load static %}

<link
  rel="stylesheet"
  href="{% static 'todo/css/full_task_list.css' %}"
  class="css"
/>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close close-btn">&times;</span>
    <div id="popup-content"></div>
  </div>
</div>
<div class="full_task_list">
  <h2>your entire tasks</h2>
</div>
<table>
  {% for TASK in tasks %}
  <td>
    task: {{TASK.title}}<br />

    <button
      class="task-list-btn task-list-item-view"
      data-url="{% url 'task-detail' TASK.id %}"
    >
      view
    </button>
    <button
      class="task-list-btn task-list-item-update"
      data-url="{% url 'task-update'  TASK.id %}"
    >
      update
    </button>
    <button
      class="task-list-btn task-list-item-delete"
      data-url="{% url 'task-delete'  TASK.id %}"
    >
      delete
    </button>
  </td>
  <td>
    {% empty %}
    <h3>no items in list</h3>

    <a href="{% url 'task-create' %}">add new task</a>
    {% endfor %}
    <br /><br />
    <a href="{% url 'task-create' %}">add new task</a>
  </td>
</table>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // Function to open the modal
  function openModal(url) {
    modal.style.display = "block";
    fetch(url)
      .then((response) => response.text())
      .then((html) => {
        // Set the HTML content inside the popup
        document.querySelector("#popup-content").innerHTML = html;
      })
      .catch((error) => {
        console.error("Error fetching content:", error);
      });
  }

  // Function to handle button clicks
  function handleButtonClick(event) {
    // Get the URL from the data-url attribute of the clicked button
    console.log(url);
    var url = event.target.dataset.url;
    console.log(url);

    // Open the popup window with the specified URL
    openModal(url);
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };

  var todoviewButtons = document.querySelectorAll("task-list-item-view");
  var todoupdateButtons = document.querySelectorAll("task-list-item-update");
  var tododeleteButtons = document.querySelectorAll("task-list-item-delete");

  todoviewButtons.forEach(function (button) {
    button.addEventListener("click", handleButtonClick);
  });
  todoupdateButtons.forEach(function (button) {
    button.addEventListener("click", handleButtonClick);
  });
  tododeleteButtons.forEach(function (button) {
    button.addEventListener("click", handleButtonClick);
  });
</script>
