{% load static %}
<link
  rel="stylesheet"
  href="{% static 'todo/css/tasks_list.css' %}"
  class="css"
/>
<h1>To-Do List</h1>

<h3>items</h3>
<table>
  {% for TASK in tasks %}
  <tr>
    <td>
      task: {{TASK.title}}<br />
    </td>
    <td>
      <div class="task-list-dropdown">
        <button onclick="todoDropDownFunction()" class="todo-dropbtn">Actions</button>
            <div id="todo-Dropdown" class="todo-dropdown-content">
                <a href="{% url 'task-update'  TASK.id %}">update</a>
                <a href="{% url 'task-delete'  TASK.id %}">delete</a> 
            </div>
      </div>
    </td>
  </tr>
  {% empty %}
    <h3>no items in list</h3>
  {% endfor %}
</table>
<br /><br />
<div>
  <a href="{% url 'task-create' %}">add new task</a>

</div>
<a class="show-more" href="{% url 'full-tasks' %}"
  ><button>show more</button></a
>
