
<div class="product-viz">

    <h1>Your Inventory Visualization</h1>
    <!-- Div to hold the chart -->
    <div id="chart-container">
        {{ chart_data|safe }}
    </div>    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
            $.ajax({
                url: "{% url 'graph' %}",
                type: 'GET',
                headers: {
                  'X-Requested-With': 'XMLHttpRequest'  // Set the XMLHttpRequest header
                },
                success: function(response) {
                    $('#chart-container').html(response.chart_data);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', error);
                }
            });
        });
</script>

