<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'cultivation/css/add-product.css' %}"
    />
    <link
      href="{% static 'inventory/css/inventory_list.css' %}"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/dashboard/images/logo.png" type="image/png">

    <title>Dashboard</title>

    {% block style %} {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'tasks' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".medium-box").innerHTML = xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>
    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'inventory-list' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".medium-box2 ").innerHTML =
              xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'current-cultivation' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".small-box").innerHTML = xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        var url = "{% url 'cultivation-short-list' %}";
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // On success, update the to-do list content
            document.querySelector(".small-box2").innerHTML = xhr.responseText;
          }
        };
        xhr.open("GET", url);
        xhr.send();
      });
    </script>


  </head>

  <body>
    <header>
      <div class="topnav">
        <a class="active" href="{% url 'comming-soon' %}">Home</a>
        <a href="{% url 'comming-soon' %}">News</a>
        <a href="{% url 'comming-soon' %}">Contact</a>
        <div class="topnav-right">
          <a href="{% url 'logout' %}">logout</a>
        </div>
        <div class="prof-img">
          {% if profile_pic %}
         <img src="{{ profile_pic }}" class="profile_pic" />
          {% endif %}
        </div>
      </div>
    </header>
    

    <div class="user">
     
      <div class="pic">
     
        <img src="{% static 'dashboard/images/Welcome.jpg' %}" alt="">
      </div>
      {% if user.is_authenticated %}
      <p class="welcome-text" style="font-size: 5vw;">Welcome, {{ user.username }}!</p>
    {% endif %}
    </div>
    
    
    <div class="activities">
      <div class="activites-container">
        <h1>Activities</h1>

        <hr />

        <div class="items-body">
          <div class="items-body-content" onclick="redirectToRiceCultivation()">
            Research Rice Products
            <span class="material-symbols-outlined">double_arrow</span>
            <i class="fa fa-angle-right"></i>
          </div>
          <div
            class="items-body-content"
            onclick="redirectToRiceCultivationpractice()"
          >
            Know about cultivation practices
            <span class="material-symbols-outlined">double_arrow</span>
            <i class="fa fa-angle-right"></i>
          </div>
          <div
            class="items-body-content External-links"
            onclick="redirectToDiseaseandPests()"
          >
            diseases and Pests
            <span class="material-symbols-outlined">double_arrow</span>
            <i class="fa fa-angle-right"></i>
          </div>
          <div class="items-body-content" onclick="redirectToCropConsultants()">
            Contact Crop Consultant
            <span class="material-symbols-outlined">double_arrow</span>
            <i class="fa fa-angle-right"></i>
          </div>
          <div
            class="items-body-content External-links"
            onclick="redirectToExternalLinks()"
          >
            External Links
            <span class="material-symbols-outlined">double_arrow</span>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
    <hr />




    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close close-btn">&times;</span>
        <div id="popup-content"></div>
      </div>
    </div>
    <style>
      .Farm-Stats{
        background-image: url("{% static 'dashboard/images/background2.jpg' %}");
      }
      .Farm-Stats-heading{
        color:white;
        font-weight: bolder;
      }
    </style>
    <div class="Farm-Stats">
     
      <div>
        <h1 class="Farm-Stats-heading">Farm Stats</h1>

      </div>

      <div class="Farm-Stats-content">
        <div class="currentCultivation">
          <h3>current cultivation</h3>
          <div class="small-box">
            {% include 'cultivation/currentCultivation.html' %}
          </div>
  
          <button id="new-button" data-url="{% url 'add-product' %}">new</button>
          
        </div>
  
        <div class="small-box2">
          {% include 'cultivation/cultivationHistory.html' %}
        </div>
        <div class="content-box medium-box">
          {% include 'todo/tasks_list.html' %}
        </div>
        <div class="content-box medium-box2">
          {% include 'inventory/inventory_list.html' %}
        </div>
        <div class="content-box large-box">
          {% include 'inventory/graph.html' %}
        </div>
      </div>

    </div>

    <footer>
          <a href="{% url 'comming-soon' %}"><h3>FarmMate</h3></a>
          <p><a href="{% url 'comming-soon' %}">mail us</a></p>
    </footer>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // Function to open the modal
      function openModal(url) {
        modal.style.display = "block";
        fetch(url)
          .then((response) => response.text())
          .then((html) => {
            // Set the HTML content inside the popup
            document.querySelector("#popup-content").innerHTML = html;
          })
          .catch((error) => {
            console.error("Error fetching content:", error);
          });
      }

      // Function to handle button clicks
      function handleButtonClick(event) {
        // Get the URL from the data-url attribute of the clicked button
        console.log(url);
        var url = event.target.dataset.url;
        console.log(url);

        // Open the popup window with the specified URL
        openModal(url);
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
      var newButton = document.getElementById("new-button");
      var editButton = document.getElementById("edit-button");

      var todoviewButtons = document.getElementsByClassName("task-list-item-view");
      var todoupdateButtons = document.querySelectorAll(
        "task-list-item-update"
      );
      var tododeleteButtons = document.querySelectorAll(
        "task-list-item-delete"
      );

      newButton.addEventListener("click", handleButtonClick);
      editButton.addEventListener("click", handleButtonClick);

      todoviewButtons.forEach(function (button) {
        button.addEventListener("click", handleButtonClick);
      });
      todoupdateButtons.forEach(function (button) {
        button.addEventListener("click", handleButtonClick);
      });
      tododeleteButtons.forEach(function (button) {
        button.addEventListener("click", handleButtonClick);
      });
    </script>

    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
      function todoDropDownFunction() {
        document.getElementById("todo-Dropdown").classList.toggle("todo-show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".todo-dropbtn")) {
          var dropdowns = document.getElementsByClassName("todo-dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("todo-show")) {
              openDropdown.classList.remove("todo-show");
            }
          }
        }
      };
      function logout() {
        window.location.href = "{% url 'logout' %}";
      }

      function redirectToRiceCultivation() {
        window.location.href = "{% url 'rice-details' %}";
      }
      function redirectToRiceCultivationpractice() {
        window.location.href = "{% url 'cultivation-practice' %}";
      }
      function redirectToCropConsultants() {
        window.location.href = "{% url 'crop-consultants' %}";
      }
      function redirectToExternalLinks() {
        window.location.href = "{% url 'external-links' %}";
      }
      function redirectToDiseaseandPests() {
        window.location.href = "{% url 'disease-pests' %}";
      }
    </script>
  </body>
</html>
