<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet" >
    <title>Document</title>
</head>

<body>
    <div class="dashboard">

        <!-- aside bar -->

        <aside class="aside">

        </aside>

        <!-- top navbar -->

        <nav class="navbar">

            <div class="search-container">
                <input class="search-bar" type="text" placeholder="Search">
                <img src="{% static 'dashboard/images/search.svg' %}" class="search-icon">
            </div>

            <div class="icon-container">
              <img  src="{% static 'dashboard/images/notification.icon.svg' %}"  alt="icon" class="notification-icon">
            </div>

            <button class="button logout" type="button" onclick="logout()">
                logout
            </button>

            <div class="icon-container">
                <img src="{% static 'dashboard/images/logo.png' %}" alt="image" class="profile-image">
            </div>
           

        </nav>


        

        <div class="farm-stats">
            <div>
                <h1>My Farm Stats</h1>
            </div>
            <div class="product-viz">
                <h2>Production Visualization</span>
                    <div class="coming-soon">
                        <img src="{% static 'dashboard/images/v3_46.png' %}" class="image">
                    </div>
            </div>

            <div class="revenue-viz">
                <h2>Revenue Visualization</h2>
                <div class="coming-soon">
                    <img src="{% static 'dashboard/images/v3_46.png' %}" class="image2">
                </div>
                
            </div>

            <div class="total-products">
                <h2>Total Products</h2>
                <div class="add-product">
                    <button class="button" type="button" onclick="openPopup()">Add Product</button>
                </div>
               
            </div>
            <section id="popupForm" style="display: none;">
                <!-- Your form goes here -->
                <span class="overlay">
                    
                    <form id="productForm" method="POST" action="{% url 'add-product' %}">
                        {% csrf_token %}
                        <!-- Form fields -->
                        <input type="text" name="product" placeholder="Product Name"><br>
                        <textarea name="description" placeholder="Description"></textarea><br>
                        <input type="submit" value="Submit">
                    </form>
                </span>
            </section>

            <div class="field-size">
                <h2>Field size</h2>
                    <div class="add-new-field">
                        <button class="button" type="button">Add Field</button>
                    </div>
            </div>

            <div class="to-do-list">
                <h2>To-do Lists</h2>
            </div>

            <div class="inventory">

                <h2>Inventory</h2>

                <div class="inventory-images">

                    <div class="inventory-image-container-1"></div>
                    <div class="inventory-values-1" >
                        <div><label>name <input type='text'class='input'></label></div>
                        <div><label>Quantity:<input type='text'class='input'></label></div>
                    </div>

                    <div class="inventory-image-container-2"></div>
                    <div class="inventory-values-2" >
                        <div><label>name <input type='text'class='input'></label></div>
                        <div><label>Quantity:<input type='text'class='input'></label></div>
                    </div>

                    <div class="inventory-image-container-3"></div>
                    <div class="inventory-values-3" >
                        <div><label>name <input type='text'class='input'></label></div>
                        <div><label>Quantity:<input type='text'class='input'></label></div>
                    </div>
                    <div>
                    <div class="arrow">
                       <button type="button" class="arrow-button"> <img  src="{% static 'dashboard/images/left_arrow.svg' %}" alt="icon"></button>
                        <button type="button"class="arrow-button"><img  src="{% static 'dashboard/images/right_arrow.svg' %}" alt="icon"></button>
                    </div>
                </div>
                </div>
                
           </div>

          
        </div>
        


        <div class="activities">
            <h1>Activities</h1>
            <div class="activities-container">
                <div class="coming-soon">
                    <img src="{% static 'dashboard/images/v3_46.png' %}" class="image2">
                </div>                
            </div>
         </div>
    </div>
</body>

</html>

<script>
    function logout(){
        window.location.href="{% url 'logout' %}";
    }
       function openPopup() {
    var popup = document.getElementById("popupForm");
    popup.style.display = "block";
}
</script>