<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'dashboard/css/disease_and_pests.css' %}"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/arrow-up-r.css"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/dashboard/images/logo.png" type="image/png">
  </head>
  <body>
    <div class="b">
      <a href="#disease1">
        <i class="gg-arrow-up-r"></i>
      </a>
    </div>
    <div class="main">
      <div class="dash">
        <header>
          <div class="topnav">
            <div class="topnav-right">
              <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
          </div>
        </header>
      </div>
      <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
          <div class="nav-title">Index</div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="nav-links">
         
          <a href="#disease1" target="_blank">Diseases</a>
          <a href="#pest" target="_blank">pests</a>
        </div>
      </div>
      <div class="content">

      <div class="disease">
        <u><h1 id="disease1">Rice:Diseases</h1></u>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/disease-and-pest-rice-blast.jpg' %}"
            alt=" disease image"
          />
        </div>

        <h2>Rice blast</h2>
        <p>
          Developing and using blast-resistant varieties is the most practical
          and economical approach to control blast. However, its use has not
          been completely successful due to the presence of lineages (that may
          consist of different physiologic races) overcoming host resistance.
          For the rice plant to effectively combat blast, scientists at IRRI are
          combining into the same rice type different race-specific genes and
          genes conferring quantitative resistance. Another method is by
          deploying resistant genes in mixed plant populations. Recent studies
          showed that the use of rice line mix is an effective tool in blast
          management. IRRI scientists introduced the practice of interplanting
          glutinous rice varieties with blast-resistant hybrid varieties in
          Yunnan province, China. Blast caused great yield loss on traditional
          glutinous rice varieties and farmers were spraying fungicides for up
          to seven times. Interplanting prevents the fungus from continuously
          building inoculum that had previously occurred in the monoculture
          fields of the glutinous varieties. Although many resistant varieties
          have already been bred, the breakdown of blast resistance causes yield
          instability in several rice-growing areas in the world. Of the various
          strategies tried, enhancing host-plant resistance is considered one of
          the important approaches to tackle this disease. Pyramiding of two or
          more effective resistance genes/alleles into elite rice lines enhances
          the durability and spectrum of resistance.
        </p>
        <h3>About blast</h3>
        <p>
          Rice blast (Pyricularia grisea) is a fungus that feeds on the rice
          plant, causing severe damage usually during the seedling stage. It
          attacks different parts of the plant: the collar, which can ultimately
          kill the entire leaf blade; the stem, which turns blackish and breaks
          easily (node blast); the neck of the panicle, where the infected part
          is girdled by a grayish brown lesion, or when severe, causes the
          panicles to fall over; or on the branches of the panicles which
          exhibit brown lesions when infected. Blast is highly destructive in
          lowland rice in temperate and subtropical Asia, and upland rice in
          tropical Asia, Latin America and Africa. Blast is found in
          approximately 85 countries throughout the world. Its first known
          occurrence was as early as 1637 in China where the disease was known
          as rice fever disease. Blast is considered a major disease of rice
          because of its wide distribution and extent of destruction under
          favorable conditions. Although blast is capable of causing very severe
          losses of up to 100%, little information exists on the extent and
          intensity of actual losses in farmers' fields. Losses of 5-10%, 8%,and
          14% were recorded in India (1960-1961), Korea (mid-1970s), and in
          China (1980-1981), respectively. In the Philippines, yield losses
          ranging from 50-85% were reported.
        </p>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/disease-and-pest-bacterial-blight2.jpg' %}"
            alt="image"
          />
        </div>

        <h2>Bacterial blight</h2>
        <p>
          Breeders and pathologists work together to screen breeding materials
          that carry resistance to bacterial blight. Breeders grow and carry out
          crop management of all screening field trials while pathologists
          inoculate and evaluate resistance of the breeding lines. Many
          bacterial blight-resistant genes have been identified through IRRI’s
          breeding programs and are currently available for use in developing or
          improving popular commercial varieties. The availability of molecular
          markers for these genes, which help breeders improve the accuracy and
          speed of developing new varieties, has made improving resistance to
          bacterial blight more efficient. Breeders have identified over 30
          bacterial blight resistance genes, named from Xa1 to Xa33. At present,
          14 strains of the bacterial blight pathogen representing 10 races have
          been characterized in the Philippines alone. Six Xa genes have been
          tagged with molecular markers and used to help identify new resistant
          lines, resulting in the release of resistant varieties in several
          countries. Indonesia, the Philippines, India, and China have released
          bacterial blight-resistant varieties for commercial production and are
          advancing breeding work to improve resistance further. National
          agricultural extension partners exhange elite lines within and between
          countries. Multi-location trials of different lines has been conducted
          in Indonesia, the Philippines, and Punjab in Eastern India. Currently
          yield losses caused by bacterial blight are typically around 1% or
          less, as resistant varieties have been deployed in the main
          rice-producing zones of Asia such as NSIC Rc142 and NSIC Rc154 in the
          Philippines. These varieties or their derivatives are well accepted by
          farmers and consumers, and are expected to cover conservatively 0.8
          million hectare in four countries. The variety PSB Rc82 has been
          deployed widely and is still conferring resistance to the predominant
          races in the Philippines. Assuming that bacterial blight epidemic
          occurs in 10% of the time over the production area, the yield gain is
          estimated to be 0.8 million metric tons of paddy rice per cropping
          season in India, Indonesia, the Philippines, and China. This
          translates into a gain of about US$20.5 million per cropping season.
          Macassane, a new IRRI-bred rice variety released in Mozambique in
          2011, also has improved resistance to baterial leaf blight, which
          causes yield losses across the country.
        </p>
        <h3>About bacterial blight</h3>
        <p>
          Bacterial blight is caused by Xanthomonas oryzaepv. oryzae (Xoo) and
          affects the rice plant at the seedling stage where infected leaves
          turn grayish green and roll up. As the disease progresses, leaves turn
          yellow to straw-colored and wilt, leading whole seedlings to dry up
          and die. The disease occurs in both tropical and temperate
          environments, particularly in irrigated and rainfed lowland areas. It
          is commonly observed when strong winds and continuous heavy rains
          occur. The disease is severe in susceptible rice varieties that are
          treated with high nitrogen fertilizer. Bacterial blight is one of the
          most destructive rice diseases in Asia and has historically been
          associated with major epidemics. It occurs in China, Korea, India,
          Indonesia, the Philippines, Sri Lanka, Myanmar, Laos, Taiwan,
          Thailand, and Vietnam. The disease also occurs in Northern Australia
          and Africa. In the late 70s, epidemics due to bacterial blight were
          reported in India. The advent of rice varieties bearing genes with
          resistance to the disease has changed the perception about the
          disease: the incorporation of host-plant resistance genes in rice
          varieties, their adoption and deployment in the world’s main
          rice-producing environments is probably one of the most significant
          evidences of the role of plant pathology in agricultural development.
          Bacterial blight nevertheless remains an important concern and many
          countries will not endorse the release of new rice varieties unless
          they carry resistance to the disease. Whenever susceptible rice
          varieties are grown in environments that favor bacterial blight, very
          high yield losses, as much as over 70%, may be caused by bacterial
          blight. It is particularly serious in hybrid rice, and therefore,
          active breeding in national and commercial breeding programs have
          developed and released some hyrbids that have resistance to the
          disease.
        </p>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/disease-and-pest-sheath-blight2.jpg' %}"
            alt="image"
          />
        </div>
        <h2>Sheath blight</h2>
        <p>
          experiments showed that no variety had a reliable level of resistance
          to the fungal disease. Tests of related wild species have identified a
          limited number of potential donors which may provide useful genetic
          material to improve host plant resistance to sheath blight. Resistance
          to the sheath blight pathogen exists, but is partial only, with
          possibly two forms: traits that confer some level of partial
          physiological resistance, and traits that confer a morphology of the
          rice plant such that the disease does not spread easily in a growing
          rice crop. Much work remains to be done to distinguish and quantify
          the contribution of both kinds of genetic traits, and their degree of
          possible combination – yet, success in this should lead to
          high-yielding, sheath blight-unfavorable and partially resistant rice
          crops.
        </p>
        <h3>About sheath blight</h3>
        <p>
          Sheath blight is a fungal disease caused by Rhizoctonia solani.
          Symptoms are usually observed from tillering to milk stage in a rice
          crop. It occurs throughout the rice growing areas in temperate,
          subtropical, and tropical countries. Rice sheath blight is found in
          all rice production areas, and is decreasing rice production
          especially in intensified production systems. Studies at IRRI showed
          that sheath blight causes a yield loss of 6% across lowland rice
          fields in tropical Asia.
        </p>
      </div>

      <div class="pests">
        <u><h1 id="pest">Insect Pests of Rice</h1></u>
        
        <h2>Rice Water Weevil – Lissorhoptrus oryzophilus</h2>
        <div class="responsive">
          <img src="{% static 'dashboard/images/weevil.jpg' %}" alt="image" />
        </div>
        <p>
          The rice water weevil is the most serious pest of rice in the US. It
          is native to Texas, but was accidentally introduced into California,
          as well as China, North and South Korea, Taiwan, Japan and Europe.
          Thus, it is now a global pest of rice. Adults feed on rice leaves and
          lay their eggs underwater in rice stems. Eggs hatch and larvae move to
          the roots upon which they feed. As the larvae grow, they shed their
          skins periodically and increase in size. The larvae complete four
          instars (stages between molts) before pupating in a mud cocoon
          attached to rice roots. Research shows that an average of 1 larva per
          plant reduces yield about 80 lb/acre. This is a linear relationship;
          thus, 3 larvae per plant reduce yield about 240 lb/acre. Thus, 3
          larvae per plant is the economic injury level (EIL) for the rice water
          weevil. The EIL is the population density that causes damage equal to
          the cost of control. This insect is controlled by 3 seed treatments
          (Dermacor X100, NipSIt INSIDE and CruiserMaxx Rice) and various
          foliarapplied insecticides. Currently, the United States Environmental
          Protection Agency (USEPA) is concerned about the use of pesticides
          because of possible toxicity to honey bees. USEPA and the Texas
          Department of Agriculture (TDA) regulate and label pesticides for use
          in our country and state
        </p>

        <h2>Rice Stink Bug – Oebalus pugnax</h2>
        <div class="responsive">
          <img src="{% static 'dashboard/images/stinkbug.jpg' %}" alt="image" />
        </div>
        <p>
          The rice stink bug is another serious pest of rice. It is native to
          Texas and the other southeastern rice-producing states---Arkansas,
          Louisiana, Mississippi and Missouri. It does not occur in
          California---the other riceproducing state. This insect has
          piercingsucking mouthparts which the insect inserts in rice grains and
          extracts the contents. Generally, no yield losses are associated with
          this feeding but rice quality can be affected. Damage results in
          ‘pecky’ rice which is discolored rice caused by rice stink bug
          feeding. In addition, upon milling, ‘pecky’ rice tends to break so
          head rice (% whole grain rice after milling) is reduced. Farmers
          receive less money for lower quality rice. The rice stink bug lays its
          eggs in masses (two rows per mass) on rice foliage. larvae pupa rice
          stink bug adult rice water weevil adult After egg hatch, nymphs
          (immature rice stink bugs without wings) complete five instars before
          becoming adults. Each instar is a little bigger than the previous
          instar. The later instars (4th and 5th) and adults cause the most
          severe damage. The rice stink bug is controlled by various
          insecticides including Tenchu 20SG which is systemic (absorbed by the
          plant), pyrethroids and carbaryl. The most susceptible stages of rice
          to rice stink bug are heading (flowering) and milk. Thus, the EILs for
          rice stink bug are lower for these stages than later stages---soft
          dough and hard dough. Fields with abundant weeds (particularly
          barnyardgrass) generally harbor high rice stink bug populations. Also,
          populations of rice stink bug are generally higher near the margins of
          fields.
        </p>
        <h2>Fall Armyworm – Spodoptera frugiperda</h2>
        <div class="responsive">
          <img src="{% static 'dashboard/images/armyworm.jpg' %}" alt="image" />
        </div>
        <p></p>
        <p>
          The fall armyworm is a sporadic pest of rice. The larvae have chewing
          mouthparts and defoliate (consume foliage) of rice. The adult is a
          moth which lays its eggs in masses on rice leaves. Eggs hatch and the
          larvae complete four to six instars (stages of growth) before pupating
          in a cocoon in the soil. Generally, fall armyworm are more severe on
          rice before the permanent flood. Usually, fall armyworm can be
          controlled by applying a flush (temporary flood) or permanent flood
          which drowns the larvae. A wasp parasite (Cotesia sp.) and egrets also
          can help control populations. Dermacor X-100 seed treatment controls
          fall armyworms. Some farmers apply pyrethroid insecticides (not
          systemic) when defoliation reaches 20% which is the EIL for this
          insect.
        </p>

        <h2>Chinch Bug – Blissus leucopterus leucopterus</h2>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/chinchbug.jpg' %}"
            alt="image"
          />
        </div>
        <p>
          The chinch bug is another sporadic pest of rice. This insect has
          piercing-sucking mouthparts like the rice stink bug. Adults are winged
          and are black and white. Adult female chinch bugs lay their orange
          eggs singly in soil cracks or on rice stems. Eggs hatch and nymphs
          begin feeding on rice stems usually near the soil surface. The insect
          completes five nymphal instars before becoming an adult. Seedling rice
          is very susceptible to attack. At this stage, an average of only one
          adult per two seedlings can kill rice. Frequently, an effective method
          of fall armyworm larva fall armyworm adult moth rice stink bug nymph
          control is to flush rice or apply a permanent flood which drowns
          insects or forces them to move up the plants where feeding results in
          less damage compared to feeding on stems near the soil surface.
          However, rice growing on levees can still be damaged. NipsIt INSIDE
          and CruiserMaxx Rice seed treatments control this pest. Foliar applied
          insecticides, such as pyrethroids, also provide control.
        </p>
        <h2>
          <div class="responsive">
            <img
              src="{% static 'dashboard/images/stalkborers.jpg' %}"
              alt="image"
            />
          </div>
          Stalk Borers – Mexican rice borer (Eoreuma loftini), rice stalk borer
          (Chilo plejadellus) and sugarcane borer (Diatraea saccharalis)
        </h2>
        <p>
          The most abundant and damaging stem borer is the Mexican rice borer
          which was introduced from Mexico into the Texas Rice Belt in 1988. The
          Mexican rice borer lays eggs on dead or dying rice foliage. Eggs hatch
          and larvae move to the inside of leaf sheaths where they are partially
          protected from natural enemies and pesticide residues. These small
          larvae feed in the sheaths and eventually bore into the culm. Inside
          the culm, they feed between nodes to cause “deadhearts” (dead leaves)
          and “whiteheads” (panicles with unfilled grains). After completing
          five larval instars, the insect pupates within the culm and emerges as
          an adult moth. Stem borers are controlled with the seed treatment
          insecticide Dermacor X-100. They can also be controlled with
          pyrethroids applied late in the season shortly before and after
          panicle emergence. Late planted rice is more susceptible to stem
          borers than earlier planted rice. Hybrid rice varieties tend to be
          more resistant to stem borers than other varieties. adults nymphs
          whitehead stalk borer damage to culm Mexican rice borer sugarcane
          borer rice stalk borer
        </p>
        <h2>Grasshoppers – Orthoptera</h2>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/grasshopper.jpg' %}"
            alt="image"
          />
        </div>
        <p>
          Grasshoppers are seldom pests of rice. Usually populations are highest
          near the margins of fields. Grasshoppers feed on foliage and sometimes
          panicles. The most common grasshoppers in rice are long-horned
          grasshoppers which can also be beneficial since they feed on pest
          insects as well as rice. Long-horned grasshoppers are easily
          identified by their very long antennae.
        </p>

        <h2>Blister Beetles – Epicauta texana</h2>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/blisterbeetles.jpg' %}"
            alt="image"
          />
        </div>

        <p>
          Blister beetles are sporadic pests of rice. The adults usually move in
          mass from weedy field margins. They typically defoliate rice and
          broadleaf weeds late in the season. Occasionally, blister beetles will
          also feed on the reproductive organs of rice flowers. Insecticides
          registered for rice stink bug also control blister beetles. Usually
          ‘spot’ treatments of insecticides effectively control blister beetle
          populations.
        </p>
        <h2>Leafhoppers – Cicadellidae (Graminella nigrifrons)</h2>
        <div class="responsive">
          <img
            src="{% static 'dashboard/images/leafhoppers.jpg' %}"
            alt="image"
          />
        </div>

        <p>
          Leafhoppers are sporadic pests of rice. The most common leafhopper in
          Texas rice fields is the blackfaced leafhopper. Leafhoppers have
          piercingsucking mouthparts and remove fluids from the plant causing
          yield and quality losses. Sooty mold fungus is black and grows on
          leafhopper exudates called honeydew. A good indication of high
          populations of leafhoppers is abundant sooty mold fungus on rice
          foliage. In addition, foliage takes on a bronze appearance.
          long-horned grasshopper short-horned grasshopper
        </p>
        <h2>Rice Delphacid – Tagosodes orizicolus</h2>
        <p>
          A new pest of rice is the rice delphacid which is related to a
          leafhopper. These insects are native to Latin America and have
          piercing-sucking mouthparts like leafhoppers. They were found for the
          first time attacking maturing ratoon rice in 2015 in several counties
          in the western part of the Texas Rice Belt. High densities can kill
          rice plants. Honeydew and black sooty mold fungus are associated with
          high numbers of this exotic insect which also has the ability to
          transmit a virus to the rice plant which causes “hoja blanca” disease.
          Hoja blanca means white leaf in Spanish; thus, symptoms of the disease
          are bleaching of foliage and stunting of the affected rice plant. In
          addition, in severe cases, panicles do not develop resulting in 100%
          yield loss.
        </p>
      </div>
    </div>
    </div>
  </body>
</html>
