<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/external_link.css' %}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-up-r.css' rel='stylesheet'>
    <link rel="icon" href="/static/dashboard/images/logo.png" type="image/png">
</head>
<body>
  <div class="b">
    <a href="#websites">
<i class="gg-arrow-up-r"></i>
    </a>
   </div>
    <div class="main">

        <div class="dash">
        
        <header>
            <div class="topnav">
                
                
                <div class="topnav-right">
                  
                  <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
              </div>
              
        </header>
    </div>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
              Index
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="#websites" target="_blank">websites</a>
              <a href="#disease1" target="_blank">Diseases</a>
       
            </div>
          </div>
          <div class="content">
        

        <div class="content1" id="websites">
            <u> <h1>External Links</h1></u>
            
            <h2>Important websites</h2>

            <table>
                <thead>
                  <tr>
                    <th>Institution</th>
                    <th>Websites</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Department of Agriculture</td>
                    <td><a href="https://www.agriculture.gov">www.agriculture.gov</a></td>
                  </tr>
                  <tr>
                    <td>International Rice Research Institute</td>
                    <td><a href="https://www.irri.org">www.irri.org</a></td>
                  </tr>

                  <tr>
                    <td>Directorate of Rice Research (DRR)
                        Rajendra Nagar Andhra Pradesh
                        Phone No:040 2459 1217.
                        Project Director
                        Email:pdrice[at]drricar[dot]org
                        Fax No: +91-40-24591217

                    </td>
                    <td><a href="http://www.drricar.org/">http://www.drricar.org/</a></td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                        Philippine Rice Research Institute
Pan-Philippine Highway, Science City of Muñoz, Philippines
Phone:+63 44 456 0285
                    </td>
                    <td><a href="http://www.philrice.gov.ph/">http://www.philrice.gov.ph/</a></td>
                  </tr>
                  <tr>
                    <td>
                        
Institute	Website
Directorate of Rice Research (DRR)
Rajendra Nagar Andhra Pradesh
Phone No:040 2459 1217.
Project Director
Email:pdrice[at]drricar[dot]org
Fax No: +91-40-24591217	http://www.drricar.org/
Philippine Rice Research Institute
Pan-Philippine Highway, Science City of Muñoz, Philippines
Phone:+63 44 456 0285	http://www.philrice.gov.ph/
Tamil Nadu Rice Research Institute
Thanjavur District
Tamil Nadu, India
Telephone: 0435-2472098(Off.)
Fax: 0435-2472881
Email:dirtrri [at]tnau[dot]ac[dot]in
                    </td>
                    <td><a href="http://www.tnau.ac.in/">http://www.tnau.ac.in/</a></td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                        Central Rice Research Institute
Cuttack (Orissa) 753 006, India
Phone: +91-671-2367757;
PABX: +91-671-2367768-783
Fax: +91-671-2367663
Email: directorcrri[at]sify[dot]com | crrictc[at]nic[dot]in
                    </td>
                    <td><a href="http://www.crri.nic.in/">http://www.crri.nic.in/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Bangladesh Rice Research Institute,
Director General Bangladesh Rice Research Institute Gazipur 1701,Bangladesh
Phone: (880-2) 9252736; 9257401-05.
Fax: (880-2) 9261110
                        
                    </td>
                    <td><a href="http://www.brri.gov.bd/">http://www.brri.gov.bd/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Hybrid Rice Research Network India
Directorate of Rice Research, Rajendranagar,
Hyderabad - 500 030
Fax: 040-4015308
EPABX Phone No: 4015036-39, 4013109, 4013111-12;

                    </td>
                    <td><a href="http://www.hybridriceindia.org/">http://www.hybridriceindia.org/
                    </a></td>
                    </td>
                  </tr>
                  <tr>
                    <td>Australian Centre for International Agricultural Research (ACIAR)
38 Thynne Street, Fern Hill Park BRUCE ACT
Phone: 61 2 6217 0500
Fax: 61 2 6217 0501
ABN: 34 864 955427

                    </td>
                    <td><a href="http://aciar.gov.au/">http://aciar.gov.au/</a></td>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>PHI Seeds Private Limited Babukhan Millenium Centre
III Floor, 6-3-1099/1100
Rajbhavan Road,Somajiguda Phone No: 91 - 40 - 30434400 Hyderabad - 500 082 Andhra Pradesh

                    </td>
                    <td>
                        <a href="http://www.pioneer.com/india">http://www.pioneer.com/india</a></td>
                    </td>
                  </tr>

                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            
            
        </div>
    </div>

   
  

    </div>
    
</body>
</html>