<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lucida+Sans+Unicode&display=swap" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'dashboard/css/launch.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="left-section">
            <div class="title">
                <span>Farming Futures, Digitally Delivered</span>
            </div>
            <div class="image-container">
                <div class="slideshow-container" >
                    <div class="mySlides">
                      <img src="{% static 'dashboard/images/3411468.jpg' %}" alt="Slide 2">
                    </div>
                    <div class="mySlides">
                      <img src="{% static 'dashboard/images/7983260.jpg' %}" alt="Slide 3">
                    </div>
                    <div class="mySlides">
                        <img src="{% static 'dashboard/images/8105931.jpg' %}" alt="Slide 3">
                    </div>
                    <div class="mySlides">
                        <img src="{% static 'dashboard/images/STUDIO SM 2229-01.jpg' %}" alt="Slide 3">
                      </div>
                      <div class="mySlides">
                        <img src="{% static 'dashboard/images/8033431.jpg' %}" alt="Slide 3">
                      </div>
                  </div>
            </div>
        </div>
        <div class="right-section">

            <h1>FarmMate</h1>

            <div class="button-inner">
                <button onclick="launch()" id="launch-button">launch</button>
            </div>
            <div class="login-section">
                <pre class="back-to-login">Go back to login? </pre>
                <div class="login-button">
                    <button onclick="logout()">login</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    function logout() {
        window.location.href = "{% url 'logout' %}";
    }
    function launch() {
        window.location.href = "{% url 'dashboard' %}";
    }
</script>
<script>
    let slideIndex = 0;
    
    function showSlides() {
      let i;
      const slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
    

    var imagecontainer = document.getElementsByClassName('slideshow-container');
    imagecontainer = document.addEventListener('DOMContentLoaded',showSlides());
    </script>