<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link href="{% static 'manage_account/css/registration.css' %}" type="text/css" rel="stylesheet">

</head>

<body>
    <div class="registration-page" >
        <form class="form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="heading">
                <h2 >SIGN UP</h2>
            </div>

            {{ form.as_p }}
            <button type="submit" class="button">SUBMT</button>
            <p class="message"> Registered? <a href="{% url 'userlogin' %}"> Sign in </a> </p>
        </form>       
    </div>
</body>
</html>
