{% load static %}
<link href="{% static 'dashboard/css/forms_popupbox.css' %}" rel="stylesheet" />
<link rel="icon" href="/static/dashboard/images/logo.png" type="image/png" />

<div class="form-container">
  <div class="cultivation-update-form">
    <h1>cultivation Update form</h1>
    <form action="" method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
        <!-- as_p organises form as paragraph -->
      </div>
      <input type="submit" value="save" class="form-submit-btn" />
    </form>
  </div>
  <div class="goback">
    <a href="{% url 'cultivation-list' %}">go back to list</a>
  </div>
</div>
