<link rel="icon" href="/static/dashboard/images/logo.png" type="image/png">
<h2>Fields</h2>
<div class="add-new-field">
    <section class="section2">
        <button class="show-modal add-field" >new</button>
        <span class="overlay"></span>

        <div class="modal-box">
            <button class="close-btn-2">
                <div class="material-symbols-outlined ">
                    X
                </div>
            </button>
            <div class="field-form">
                <form method="POST" action="{% url 'add-field' %}" >
                   {% csrf_token %}
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required><br><br>

                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required><br><br>
            
                    <input class='submit-btn' type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>
</div> 
