<!DOCTYPE html>
<html lang="en">
<head>
    <!-- we are storing all the css in static folder so we need to load the folder also we modified some settings (staticfiledirs)-->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!--changed the href path to static folders css folder-->
    <link href="{% static 'Accounts/css/registration.css' %}" type="text/css" rel="stylesheet">

</head>

<body>
    <div class="registration-page">
        <div class="heading"><h2 >SIGN UP</h2></div>
        <div class="form" >
            <form class="register-form" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <input type="text" placeholder="First name" name="full_name" maxlength="50" id="id_full_name" class="name">
                <input type="radio"value='Farmer',class='usertype'name='usertype'><label>Farmer</label>
                <input type="radio"value='Merchant',class='usertype'name='usertype'><label>Merchant</label>
                <input type="text" placeholder="Password" name="password" maxlength="128" required id="id_password">
                <input type="text" placeholder="Phone number" name="phone_number" maxlength="17" id="id_phone_number">
                <input type="email" placeholder="Email" name="email" maxlength="254" required id="id_email">
                <input type="text" placeholder="Company" name="company" maxlength="100" id="id_company">
                <textarea placeholder="Address" name="address" cols="40" rows="10" maxlength="300" id="id_address"></textarea>
                <button type="submit">Register</button>
                <p class="message">Already registered? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>
