<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Farmers Assistance System</h1>
        <br>
        <br>
        <form method="POST" action="{% url 'userlogin' %}">

            {% csrf_token %}
            <h3>Login</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="error-message-container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <br>
            {{ form.as_p }}
            <input type="submit" value="Submit">
            <a href="{% url 'signup' %}">Register</a> <!-- Link to registration page -->
        </form>
    </center>
</body>
</html>
