
<h1>To-Do List </h1>

<h3> items </h3>
<ol>
    {% for TASK in tasks %}
        <li>
            
            task:  {{TASK.title}}<br>
            <a href="{% url 'tasks-detail' TASK.id %}">view</a>
            <a href="{% url 'task-update' TASK.id %}">update</a>
            <a href="{% url 'task-delete' TASK.id %}">delete</a> 
        </li>
     
    {% empty %}
        <h3> no items in list</h3>
    
        <a href="{% url 'task-create' %}">add new task</a>
    {% endfor %}
    <br><br>
    <a href="{% url 'task-create' %}">add new task</a>
</ol>
   



