{% load static %}
<link
  rel="stylesheet"
  href="{% static 'dashboard/css/tasks_list.css' %}"
  class="css"
/>
<h1>To-Do List</h1>

<h3>items</h3>
<table>
  {% for TASK in tasks %}
  <td>
    task: {{TASK.title}}<br />

    <button
      class="todo-buttons"
      class="task-list-btn task-list-item-view"
      data-url="{% url 'task-detail' TASK.id %}"
    >
      view
    </button>
    <button
      class="todo-buttons"
      class="task-list-btn task-list-item-update"
      data-url="{% url 'task-update'  TASK.id %}"
    >
      update
    </button>
    <button
      class="todo-buttons"
      class="task-list-btn task-list-item-delete"
      data-url="{% url 'task-delete'  TASK.id %}"
    >
      delete
    </button>
  </td>
  <td>
    {% empty %}
    <h3>no items in list</h3>

    <a href="{% url 'task-create' %}">add new task</a>
    {% endfor %}
    <br /><br />
    <a href="{% url 'task-create' %}">add new task</a>
  </td>
</table>
<a class="show-more" href="{% url 'full-tasks' %}"
  ><button>show more</button></a
>
