body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; /* Replace with your desired background color */
}

.left-panel img {
  border-radius: 10%;
  max-width: 100%;
  height: auto;
  max-height: 80%; /* Adjust the height as needed */
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* Replace with your desired background color */
}

.right-panel h2 {
  margin-bottom: 20px;
}
.right-panel .messages{
  text-align:center;
  width:30%;
  border-style:ridge;
  color: #fff;
  background-color: #ff3300;
}
.right-panel input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right-panel input[type="submit"] {
  background-color: #141516; /* Replace with your desired button color */
  color: #fff;
  cursor: pointer;
}

.right-panel input[type="submit"]:hover {
  background-color: #00b31e; /* Replace with your desired button hover color */
}

.right-panel p {
  margin-top: 10px;
  font-size: 14px;
}

.right-panel p a {
  text-decoration: none;
  color: #007bff; /* Replace with your desired link color */
}

.right-panel p a:hover {
  text-decoration: underline;
}
